{% load squad %}

<div class="table-responsive">
  <table class="table table-condensed small">
    <tr>
      {% for key, value in metadata %}
      <td class="text-right"><strong>{{key}}</strong></td>
      <td>{{value|metadata_value|urlize}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% if extra_metadata %}
<a class='extra-metadata-button' href="#" onclick='$(".extra-metadata, .extra-metadata-button").toggle(); return false;'><small><i class='fa fa-plus'></i> Display more</small></a>

<div class="table-responsive">
  <table class="table table-condensed small">
    <tr>
      {% for key, value in extra_metadata %}
      <td class="text-right"><strong>{{key}}</strong></td>
      <td>{{value|metadata_value|urlize}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endif %}
